<!DOCTYPE html>
<html lang="ar" dir="auto">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.css" />
    <link rel="icon" href="logo.jpg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <title>Home</title>
  </head>
  <body>
    <header>
      <a href="home.html"><img src="llogo.jpg" /></a>
      <nav>
        <a href="home.html">Home</a>
        <a href="../hotels/Hotels.html">Hotels</a>
        <a href="../sgin_up/sginup.html">Register</a>
        <a href="../login/login.html">Log In</a>
      </nav>
    </header>
    <section class="main">
      <input id="searchwhere" placeholder="  Where to?" \ />
      <input id="searchdate" type="date" />
      <a href="#">
        <button id="b-search"><b>Search</b></button>
      </a>
    </section>

    <section class="container">
      <!-- parition explore-->
      <div class="distinations">
        <div class="content">
          <div class="item">
            <h3>Variety of Different hotels to choose from</h3>
            <p>Customise the hotels pased on your needs.</p>
            <br />
            <a href="../hotels/Hotels.html">
              <button class="Explore">Explore Hotels</button>
            </a>
          </div>
          <div class="item">
            <img src="imagess.jpg" />
          </div>
        </div>
      </div>
      <br />
      <hr style="width: 50%; text-align: left; margin-left: 0" />
      <br />
      <br />
      <!-- parition 1 -->
      <div class="title">
        <h3>Trending destinations</h3>
      </div>
      <div class="distinations">
      <a href="#">
        <div class="content">
          <div class="item">
            <img src="paris.jpg" />
            <p id="text">Paris</p>
          </div>
        </div>
      </a>
        <a href="#">
          <div class="content">
            <div class="item">
              <img src="egypt.jpg" />
              <p id="text">egypt</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="content">
            <div class="item">
              <img src="rome.jpg" />
              <p id="text">Rome</p>
            </div>
          </div>
        </a>
      </div>

      <!-- end of parition -->
      <br />
      <hr style="width: 50%; text-align: left; margin-left: 0" />
      <br />
      <!-- parition 2-->
      <div class="title">
        <h3>Hotels guests love</h3>
      </div>
      <div class="distinations">
        <a href="#">
          <div class="content">
            <div class="item">
              <img src="palace.jpg" />
              <p id="text">Palace Downtown</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="content">
            <div class="item">
              <img src="atlantic.jpeg" />
              <p id="text">
                Atlantis, The Palm</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="content">
            <div class="item">
              <img src="grand.jpg" />
              <p id="text">Grand Hotel</p>
            </div>
          </div>
        </a>
      </div>
      <div class="distinations">
      <a href="#">
        <div class="content">
          <div class="item">
            <img src="euro.jpeg" />
            <p id="text">EU_Roma Hotel</p>
          </div>
        </div>
      </a>
        <a href="#">
          <div class="content">
            <div class="item">
              <img src="ppark.jpeg" />
              <p id="text">Grand Park Hotel</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="content">
            <div class="item">
              <img src="georg.jpg" />
              <p id="text">Hotel George V
              </p>
            </div>
          </div>
        </a>
      </div>
      <!-- end of parition -->
      <br />
      <hr style="width: 50%; text-align: left; margin-left: 0" />
      <br />
      <!-- parition 3-->
      <div class="title">
        <h3>Get inspiration for Your trip</h3>
      </div>
      <div class="distinations">
        <a href="#">
          <div class="content">
            <div class="item">
              <img src="paris.jpg" />
              <p id="text">top 3 rated hotels in paris</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="content">
            <div class="item">
              <img src="egypt.jpg" />
              <p id="text">3 sheepest hotels in egypt</p>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="content">
            <div class="item">
              <img src="rome.jpg" />
              <p id="text">Beautifull hotels to choose in rome</p>
            </div>
          </div>
        </a>
      </div>
      <!-- end of parition-->
    </section>

    <footer>
      <div class="social-icon">
        <a target="_blank" href="https://www.facebook.com/mostafa.mansour.319247">
          <i class="fa-brands fa-facebook-f fa-fw fa-2x"></i>
        </a>
        <a target="_blank" href="https://github.com/MOSTAFA-MANSOUR72">
          <i class="fa-brands fa-github fa-fw fa-2x"></i>
        </a>
        <a target="_blank" href="#">
          <i class="fa-brands fa-twitter fa-fw fa-2x"></i>
        </a>
        <a target="_blank" href="https://www.instagram.com/mostafa_mansour762/">
          <i class="fa-brands fa-instagram fa-fw fa-2x"></i>
        </a>
      
      </div>
      <p>made by <b>mostafa mansour</b></p>
    </footer>
  </body>
</html>
