<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="imges/logo.jpg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <title>Hotels List</title>
  <link rel="stylesheet" href="/css/Hotels.css">
</head>
<body>
  <header>
      <img class="logo" src="imges/logoapp.jpg" alt="">
      <nav class="navigation">
          <a href="/">Home</a>
          <a href="/hotel">Hotels</a>
          <a href="/user/login">Login</a>
       </nav>
  </header>
<div class="container">
  <div class="im-head">
  <h1>Available Hotels List</h1>
  </div>
  <div id="hotels-list">
   <div class="left-hotel">
    <img src="imges/hotel2.jpg">
    <div class="hotel-info">
      <h2>Palace Downtown</h2>
      <p>Location: Dubai</p>
      <p>Rating: 5</p>
      <p id="star">★★★★★</p>
      <a target="_blank" href="/hotel/reservation">Book Now</a>
    </div></div>
    <div class="right-hotel">
    <img src="imges/hotel2.jpeg">
    <div class="hotel-info">
      <h2>Burj Al Arab</h2>
      <p>Location: Dubai</p>
      <p>Rating: 5</p>
      <p id="star">★★★★★</p>
      <a target="_blank" href="/hotel/reservation">Book Now</a>
    </div>
    </div>
    </div>
    <div id="hotels-list">
    <div class="left-hotel">
          <img src="imges/hotel1.jpeg">
          <div class="hotel-info">
            <h2>Atlantis, The Palm</h2>
            <p>Location: Dubai</p>
            <p>Rating: 5</p>
            <p id="star">★★★★★</p>
            <a target="_blank" href="/hotel/reservation">Book Now</a>
          </div>
    </div>
          <div class="right-hotel">
          <img src="imges/hotel4.jpeg">
          <div class="hotel-info">
            <h2>Burj Khalifa</h2>
            <p>Location: Dubai</p>
            <p>Rating: 5</p>
            <p id="star">★★★★★</p>
            <a target="_blank" href="/hotel/reservation">Book Now</a>
          </div> 
          </div>
       </div>
       <div id="hotels-list">
        <div class="left-hotel">
            <img src="imges/hotel5.jpeg">
            <div class="hotel-info">
              <h2>EU_Roma Hotel</h2>
              <p>Location:  Roma</p>
              <p>Rating: 4</p>
              <p id="star">★★★★</p>
              <a target="_blank" href="/hotel/reservation">Book Now</a>
            </div>
        </div>
            <div class="right-hotel">
            <img src="imges/hotel6.jpeg">
            <div class="hotel-info">
              <h2>Grand Hotel</h2>
              <p>Location: Roma</p>
              <p>Rating: 4</p>
              <p id="star">★★★★</p>
              <a target="_blank" href="/hotel/reservation">Book Now</a>
            </div>
            </div>
        </div>
            <div id="hotels-list">
          <div class="left-hotel">
            <img src="imges/hotel7.jpeg">
              <div class="hotel-info">
                <h2>Pullman Ramallah</h2>
                <p>Location: Roma</p>
                <p>Rating: 4</p>
                <p id="star">★★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
          </div>
              <div class="right-hotel">
              <img src="imges/hotel8.jpeg">
              <div class="hotel-info">
                <h2>Grand Park Hotel</h2>
                <p>Location: Roma</p>
                <p>Rating: 4</p>
                <p id="star">★★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
              </div>
            </div>
            <div id="hotels-list">
            <div class="left-hotel">
              <img src="imges/hotel9.jpeg">
              <div class="hotel-info">
                <h2>Hotel George V</h2>
                <p>Location: Paris</p>
                <p>Rating: 4</p>
                <p id="star">★★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
            </div>
              <div class="right-hotel">
              <img src="imges/hotel10.jpeg">
              <div class="hotel-info">
                <h2>Ritz Paris</h2>
                <p>Location: Paris</p>
                <p>Rating: 3</p>
                <p id="star">★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
              </div>   
            </div>    
            <div id="hotels-list">
            <div class="left-hotel">
              <img src="imges/hotel11.jpeg">
              <div class="hotel-info">
                <h2> Le Meurice</h2>
                <p>Location: Paris</p>
                <p>Rating: 3</p>
                <p id="star">★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
            </div>
              <div class="right-hotel">
              <img src="imges/hotel12.jpeg">
              <div class="hotel-info">
                <h2>Hotel Champs </h2>
                <p>Location: Paris</p>
                <p>Rating: 3</p>
                <p id="star">★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
              </div>
            </div>
            <div id="hotels-list">
              <div class="left-hotel">
              <img src="imges/hotel13.jpeg">
              <div class="hotel-info">
                <h2>W Barcelona</h2>
                <p>Location: Barcelona</p>
                <p>Rating: 5</p>
                <p id="star">★★★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
            </div>
              <div class="right-hotel">
              <img src="imges/hotel14.jpeg">
              <div class="hotel-info">
                <h2>Hotel Casa Fuster</h2>
                <p>Location: Barcelona</p>
                <p>Rating: 5</p>
                <p id="star">★★★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
              </div>
           </div>
           <div id="hotels-list">
              <div class="left-hotel">
              <img src="imges/hotel15.jpeg">
              <div class="hotel-info">
                <h2>Majestic Hotel </h2>
                <p>Location: Barcelona</p>
                <p>Rating: 5</p>
                <p id="star">★★★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
            </div>
              <div class="right-hotel">
              <img src="imges/hotel16.jpeg">
              <div class="hotel-info">
                <h2>Hotel Mandarin</h2>
                <p>Location: Barcelona</p>
                <p>Rating: 5</p>
                <p id="star">★★★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
              </div>
           </div>
           <div id="hotels-list">
              <div class="left-hotel">
              <img src="imges/hotel17.jpeg">
              <div class="hotel-info">
                <h2>Sheraton Hotel</h2>
                <p>Location: Egypt</p>
                <p>Rating: 3</p>
                <p id="star">★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
            </div>
              <div class="right-hotel">
              <img src="imges/hotel18.jpeg">
              <div class="hotel-info">
                <h2>Cairo Marriott Hotel</h2>
                <p>Location: Egypt</p>
                <p>Rating: 3</p>
                <p id="star">★★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
              </div>
             </div>
             <div id="hotels-list"> 
            <div class="left-hotel">
              <img src="imges/hotel.jpg">
              <div class="hotel-info">
                <h2>Fairmont Cairo</h2>
                <p>Location: Egypt</p>
                <p>Rating: 2</p>
                <p id="star">★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
            </div>
              <div class="right-hotel">
              <img src="imges/hotel3.jpeg">
              <div class="hotel-info">
                <h2>Mandarin Oriental</h2>
                <p>Location: Egypt</p>
                <p>Rating: 2</p>
                <p id="star">★★</p>
                <a target="_blank" href="/hotel/reservation">Book Now</a>
              </div>
              </div>
            </div>
      </div>
            
  </div>

<footer class="footer">
  <p class="footer-title">Greetings @<span>Ahmed Nabil</span></p>
  <div class="icons">
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-youtube"></i></a>
      <a href=""><i class="fa-brands fa-square-instagram"></i></a>
  </div>
  </footer>
</body>
</html>