<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Login Page</title>
   <link rel="stylesheet" href="/css/style.css">
</head>
<script>
    function validateForm() {
        
    }
</script>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/user/login/check" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit" onclick="">Login</button>
            </div>
            <div class="sign">
                <h4>Don't have an account?</h4>
                <a href="/user">Sign up</a>
            </div>
            <div class="icons">
                <a href="#"><i class="fab fa-google"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a> 
            </div>
        </div>
        
        </form>
    </div>
</body>
</html>
