body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000016;
  }
  
  header{
    background-color:wheat;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    padding: 3px 20px;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-text-stroke: medium;
}
.logo{
    height: 50px;
}
nav.navigation{
    margin-top: 15px;
}
.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    position: static;
}
.navigation a:hover{
    color:burlywood;
}
  
  .container {
    margin: 20px auto;
    padding: 0 20px;
  }
  .container h1{
    text-align: center;
    background: url(../images/hotel2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
    background-attachment: fixed;
    margin-bottom: 70px;
    font-weight: 800;
  }
  #hotels-list {
    justify-items: center;
    word-break: break-all;
    width: 100%;
  }
  .hotel {
    display: flex;
    padding: 30px;
    padding-right: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 50px 10px 50px;
    background-color: azure;
    font-family: sans-serif;
    position: relative;
    text-align: center;
    flex-flow: row wrap;
    
  }
  .hh2{
    position: relative;
    left: 180px;
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    font-family: sans-serif;
    
  }
  
  
  .hotel img {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    left: 10%;
    min-height: 12em;
    border: 2px solid;
  }
.hotel img:hover {
    opacity: 0.8;
}
#star {
    color: gold; /* لون النجمة */
    font-size: 24px; /* حجم النجمة */
  }
 
  
  a{
    text-decoration: none;
    color: #3a6cf4;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    position: relative;
    top: 25px;
   }
   .hotel-info a:hover{
    color: #464f27;
}
 p{
    position: relative;
    top: 15px;
    font-size: larger;
}

  
  .hotel-info {
    margin: 5px;
    position: relative;
    left: 10%;
    font-family: none
  }
  
  .hotel-info h2 {
    margin: 0;
  }
  
  .hotel-info p {
    margin: 5px 0;
  }
  .footer{
    background-color: #000022;
    color: #fff;
    padding: 5px 10px 40px 10px;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color: #3a6cf4;
}
.footer .icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
    color: #ffffff;
}
@media (max-width:1023px){
  header{
      padding: 12px 20px;
  }
  .navigation{
      padding-left: 10px;
  }
  .title{
      font-size: 1.8em;
  }
  section{
      padding: 80px 20px;
  }
  main-content h2{
      font-size: 1em;
  }
  main-content h3{
      font-size: 1.6em;
  }
  .conted{
      flex-direction: column;
      align-items: center;
  }
}

@media (max-width:641px){
  body{
      font-size: 12px;
  }
  .main-content h2{
      font-size: 0,8em;
  }
  .main-content h2{
      font-size: 1.4em;
  }
}
@media (max-width:300px){
  body{
      font-size: 10px;
  
  }

}
  